<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Wox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css" />
    <link rel="stylesheet" href="bower_components/messenger/build/css/messenger.css" />
    <link rel="stylesheet" href="bower_components/messenger/build/css/messenger-theme-flat.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/plugin.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/userinfo.css">
    <link rel="stylesheet" href="styles/release.css">
    <link rel="stylesheet" href="styles/theme.builder.css">
    <!-- endbuild -->

</head>
<body ng-app="woxApp">
<div class="header">
    <nav class="navbar navbar-default" role="navigation">
         <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/">Wox</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>
                  <a href="/#plugin" class="dropdown-toggle">Plugins</a>
                  </li>
                  <li>
                  <a href="/#theme/builder" class="dropdown-toggle">Themes</a>
                  </li>
                  <li>
                  <a href="http://doc.getwox.com" target="_blank" class="dropdown-toggle">Docs</a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li ng-if="!logined"><a href="/#login">Login</a></li>
                  <li ng-if="!logined"><a href="/#register">Sign up</a></li>
                  <li ng-if="logined"><a href="/#u/{{ user.id }}">{{ user.name }}</a></li>
                  <li ng-if="logined"><a href="/#logout">Logout</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
      </nav>
</div>

<div class="content" ng-view=""></div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.min.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/messenger/build/js/messenger.min.js"></script>
<script src="bower_components/messenger/build/js/messenger-theme-flat.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.min.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
<script src="bower_components/marked/lib/marked.js"></script>
<script src="bower_components/angular-marked/dist/angular-marked.min.js"></script>
<script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/plugin.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/services/api.js"></script>
<script src="scripts/services/notify.js"></script>
<script src="scripts/services/auth.js"></script>
<script src="scripts/directives/ngenter.js"></script>
<script src="scripts/controllers/logout.js"></script>
<script src="scripts/filters/apiurl.js"></script>
<script src="scripts/controllers/plugin.create.js"></script>
<script src="scripts/controllers/plugin.detail.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/userinfo.js"></script>
<script src="scripts/controllers/plugin.edit.js"></script>
<script src="scripts/services/paginate.js"></script>
<script src="scripts/controllers/theme.builder.js"></script>
<!-- endbuild -->



<!-- sharethis -->
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
    if(typeof stLight !== "undefined"){
        stLight.options({publisher: "c3bcaffa-d21f-4870-86d5-cc5ef54e30a5", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    }
</script>
<!-- end sharethis -->

</body>
</html>
