<div class="donate container conent-container">
  Wox is an effort, driven in my spare time. For web site costs and continuing Wox development, I am accepting donations via PayPal and Alipay.
  The money received will be used to sponsor Wox development.

  <br/>
  <hr/>

  Wox使用我的个人时间来开发，同时为了支付Wox网站费用，我接受来自PayPal和支付宝的捐助。捐助的钱将用于支持Wox后续的开发和网站维护。

  <br/>
  <hr/>

  <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=qianlf2008@163.com"
  data-button="donate"
  data-name="Wox"
  ></script>

  <div class="text-center">
    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" class="paypal-button" target="_top" style="display:inline-block;opacity: 1;">
      <div class="hide" id="errorBox"></div>
      <input type="hidden" name="button" value="donate">
      <input type="hidden" name="business" value="qianlf2008@163.com">
      <input type="hidden" name="item_name" value="Wox">
      <input type="hidden" name="quantity" value="">
      <input type="hidden" name="amount" value="">
      <input type="hidden" name="currency_code" value="">
      <input type="hidden" name="shipping" value="">
      <input type="hidden" name="tax" value="">
      <input type="hidden" name="notify_url" value="">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="bn" value="JavaScriptButton_donate">
      <input type="hidden" name="env" value="www">
      <button type="submit" class="paypal-button large">Donate</button>
    </form>

    <img src="/images/wox_alipay_donate.png" width="300" />
  </div>
</div>
