<div class="home conent-container">
    <div class="slide">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>An effective launcher for windows</h3>

                    <p>A full-featured launcher, access programs and web contents as you type. Be more productive ever
                    since.</p>

                    <p>
                    Wox is free for use and open-sourced at Github, Try it now!
                    </p>
                    <div class="row download">
                        <div class="col-md-5">
                            <a href="https://github.com/Wox-launcher/Wox/releases" class="btn btn-primary btn-download-release">
                                Download
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn" href="http://pan.baidu.com/s/1kTokCvX#dir/path=%2FWox">Backup Download</a>
                        </div>
                    </div>
                    <div class="row share">
                        <div class="col-md-3">
                            <a class="github-button" href="https://github.com/qianlifeng/wox" data-icon="octicon-star" data-count-href="/qianlifeng/wox/stargazers" data-count-api="/repos/qianlifeng/wox#stargazers_count">Star</a>
                            <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
                        </div>
                        <div class="col-md-9">
                          <span class='st_facebook_hcount' displayText='Facebook'></span>
                          <span class='st_twitter_hcount' displayText='Tweet'></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/wox_preview.jpg" class="slide-demo"/>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-bottom"></div>
    <div class="container">
        <div class="feature-demo">
            <hr/>
        </div>
        <div class="row feature-section">
            <div class="col-md-6">
                <img src="images/wox_find_app.jpg" class="slide-demo"/>
            </div>
            <div class="col-md-6">
                <h3>Find Applications &amp; Files</h3>

                <p>Quick Start program and local files without leaving your keyboard, automatic sorting based on usage.</p>
            </div>
        </div>
        <div class="row feature-section">
            <div class="col-md-6">
                <h3>Quick-Search the Web</h3>

                <p>Search the web by prefixing your search with keywords like <i>wiki</i>, <i>g</i>.</p>

                <p>Add your own the web searches in Wox's setting window to make them meet your daily needs.</p>
            </div>
            <div class="col-md-6">
                <img src="images/wox_websearch.jpg" class="slide-demo"/>
            </div>
        </div>
        <div class="row feature-section">
          <div class="col-md-6">
            <img  src="images/wox_plugin.jpg" class="slide-demo"/>
          </div>
          <div class="col-md-6">
            <h3>Plugin</h3>

            <p>Making a plugin for Wox is easy and Wox supports plugins written by CSharp,Python,NodeJS,Golang and so on.
            Create your own plugin and share with others now.
            </p>
            </div>
          </div>
        <div class="row feature-section">
            <div class="col-md-6">
              <h3>Theming</h3>

              <p>Match Wox to your desktop. Create your own themes by choosing colours,fonts, sizes and more.</p>
              <p>Create your own theme by using <a href="/#theme/builder">theme builder</a> now.</p>
            </div>
            <div class="col-md-6">
              <img  src="images/wox_theme.jpg" class="slide-demo"/>
            </div>
        </div>
    </div>
</div>
