<div class="releaseedit conent-container" ng-cloak>
    <div class="form-horizontal">
        <div class="container">
            <div class="title">
                <h1>
                    <b>V{{ r.version }}</b>
                    <i><small><span am-time-ago="r.created_date"></span></small></i>
                </h1>
            </div>
            <div class="well">
                <div class="desc " marked="r.description">
                </div>
            </div>
        </div>
    </div>
</div>
