<div class="release conent-container" ng-cloak>
    <div class="container" ng-if="isSuperUser">
        <div class="input-group pull-right">
            <button ng-click="createNewRelease()" required class="btn btn-primary" type="button">New Release</button>
        </div>
    </div>

    <div class="container release-list">
        <div ng-repeat="r in releases" class="well">
            <div class="title">
                <h2><a href="/#release/{{r.id}}/edit"><b>{{ r.version }}</b></a></h2>
            </div>
            <div class="desc" marked="r.description">
            </div>
        </div>
    </div>
</div>
